body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
  }
p, ol {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 12px;
}
article {
    max-width: 620px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
h1, h2, h3, h4 {
    font-family: 'Ubuntu','Geneva', sans-serif;
}
h1 {
    font-size: 2.75rem;
    margin: 20px 0;
}
h2{
    font-size: 2rem;
    margin: 16px 0;
}
h3 {
    font-size: 1.5rem;
    margin: 14px 0 8px 0;
}
h4 {
    font-size: 1rem;
    margin: 7px 0 4px 0;
}
.writer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.credit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    text-align: right;
    margin-top: 1px;
    margin-bottom: 20px;
}
blockquote {
    border-left: 4px solid grey;
    margin: 1.5em 10px;
    padding: 1em 20px;
}
ol {
    list-style-position: inside;
}